<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPublicEmployeeService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPrivateEmployeeService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/EmployeeService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPublicEmployeeService"
                contract="EmployeeService.IPublicEmployeeService" name="BasicHttpBinding_IPublicEmployeeService" />
            <endpoint address="net.tcp://localhost:8090/EmployeeService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPrivateEmployeeService"
                contract="EmployeeService.IPrivateEmployeeService" name="NetTcpBinding_IPrivateEmployeeService">
                <identity>
                    <userPrincipalName value="gokhalen@aqrcapital.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>