<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPrivateEmployeeService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://windows-cepiso4/IISHost/EmployeeService.svc/EmployeeService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPrivateEmployeeService"
                contract="EmpServiceIIS.IPrivateEmployeeService" name="NetTcpBinding_IPrivateEmployeeService">
                <identity>
                    <servicePrincipalName value="host/WINDOWS-CEPISO4" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>