<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IReportService" />
                <binding name="NetTcpBinding_IDownloadService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/ReportService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IReportService" contract="ReportService.IReportService"
                name="NetTcpBinding_IReportService">
                <identity>
                    <userPrincipalName value="WINDOWS-CEPISO4\Nilesh" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/DownloadService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDownloadService"
                contract="DownloadService.IDownloadService" name="NetTcpBinding_IDownloadService">
                <identity>
                    <userPrincipalName value="WINDOWS-CEPISO4\Nilesh" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>