<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IReportService" />
                <binding name="NetTcpBinding_IDownloadService" />
                <binding name="NetTcpBinding_IPerCall" />
                <binding name="NetTcpBinding_ISingleCall" />
                <binding name="NetTcpBinding_IPerSession" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/ReportService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IReportService" contract="ReportService.IReportService"
                name="NetTcpBinding_IReportService">
                <identity>
                    <userPrincipalName value="WINDOWS-CEPISO4\Nilesh" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/DownloadService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDownloadService"
                contract="DownloadService.IDownloadService" name="NetTcpBinding_IDownloadService">
                <identity>
                    <userPrincipalName value="WINDOWS-CEPISO4\Nilesh" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/PerCall" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPerCall" contract="PerCallService.IPerCall"
                name="NetTcpBinding_IPerCall">
                <identity>
                    <userPrincipalName value="WINDOWS-CEPISO4\Nilesh" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8092/SingleCall" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISingleCall" contract="SingleCallService.ISingleCall"
                name="NetTcpBinding_ISingleCall">
                <identity>
                    <userPrincipalName value="WINDOWS-CEPISO4\Nilesh" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8091/PerSession" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPerSession" contract="PerSesionService.IPerSession"
                name="NetTcpBinding_IPerSession">
                <identity>
                    <userPrincipalName value="WINDOWS-CEPISO4\Nilesh" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>